body {
    background-color: #080c14;
}
a {
    
    color:#f5f5f5
}
p {
    color: #f5f5f5
}
abbr {
    text-decoration: none;
}
.wrap {
    margin: 20px 20px;
}
.wave {
    font-family: 'Courier New', monospace;
    font-weight: 700;
}
.stuff{
    display: inline;
    font-family: 'Courier New', monospace;
    font-weight: 400;
    font-size: 14px;
}